﻿body {
    font-family: Arial;
}

nav ul {
    list-style: none;
    padding: 0px;
    
}

nav li {
    line-height: 3rem;
   
}

nav a {
    text-decoration:solid;
    color: #ddd;
    display: block;
    padding: 0 2.5em;
    transition: .5s;
    width: 100%
}

    nav a:hover 
    {
        background: rgba(26, 25, 25, 0.5);
        
    }

nav ul ul {
    display: none;
    
}

nav > ul {
    background: #333;
    display: table;
    width: 100%;
    
}

    nav > ul > li {
        float: left;
        
    }

/*Imagenes*/
.imagen {
    margin: 1px;
    display: inline-block;
    height: 35px;
    width: 35px;
}


.dropbtn {
    background-color: #333;
    color: #ddd;
    padding: 8px;
    border: none;
    transition: .10s;
    width: 140%;
    
}


.dropdown {
    position: relative;
    display: inline-block;
    transition: .5s;
    
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 140%;
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
    
}


.dropdown-content a:hover {background-color: #ddd; transition: .5s;}


.dropdown:hover .dropdown-content {display: block; transition: .5s;}


.dropdown:hover .dropbtn {background-color:rgba(26, 25, 25, 0.5); transition: .5s;}