{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-custom ">
      <a href="/">
       <img src="{% static 'img/i.png' %}" alt="brand" class="nabar-brand" style="width: 50px;">
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-white" href="/stadium">Estadios <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/players">Jugadores</a>
            </li>
            <li class="nav-item ">
             <a href="/teams" class="text-white nav-link">Equipos</a>
            </li>
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Buscar por
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/searchTeam">Equipo</a>
                <a class="dropdown-item" href="/searchPosition">Posición</a>
              </div>
            </li>

          </ul>
        
        </div>
      </nav> 
      
    {% block content %}

    {% endblock %}

    <footer class="pt-5">
        <div class="text-center">Luis Francisco Barajas Benitez | Programacion Web</div>
    </footer>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script> 
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  
</body>
</html>