{% extends 'base.html' %}
{% load static %}

{% block title %} Programacion Web | Home {% endblock %}
{% block content %}
<div class="container">
    <h3 class="text-center my-5">ParraSoft</h3>
    <p class="text-justify">
        En la Empresa ParraSoft se requiere de una aplicación WEB que ayude al 
        gerente a organizar las actividades realizadas en la empresa. El gerente 
        quiere saber que actividades se estan realizando al momento de la consulta, 
        que personal esta asignado a esa actividad, quien es el lider de la actividad, 
        el estatus de la actividad, asi tambien quiere saber cuando fue asignada y 
        cuando debe terminar esa actividad. El gerente tambien requiere tener reportes
         que le ayuden a visualizar el desempeño de su personal.
    </p>
</div>

{% endblock %}