{% extends 'base.html' %}
{% load static %}

{% block title %} Programacion Web | Personal {% endblock %}
{% block content %}
<div class="container">
    <h3 class="text-center my-5">Personal</h3>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Puesto</th>
            <th scope="col">Equipo</th>
            <th scope="col">Actividad</th>
          </tr>
        </thead>
        <tbody>
        {% for persona in personal %}
            <tr>
                <td>
                    {{persona.id}}
                </td>
                <td>
                    {{persona.name}}
                </td>
                <td>
                    {{persona.job}}
                </td>
                <td>
                    {{persona.jobTeam}}
                </td>
                <td>
                   {{persona.activitie.actName}}
                </td>
            </tr>
        {% endfor%}
        </tbody>
      </table>
</div>

{% endblock %}