{% extends '../base.html' %}
{% load static %}
{% block title %}
    Login
{% endblock title %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock styles %}
    
{% block content %}
    

	<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div class="login-box col-md-12">
                    <form method="POST" action="{% url 'login' %}" class="form" >
                        {% csrf_token %}
                        <p><h2 class="text-center ">Bienvenido</h1></p>
                        <div class="form-group">
                            <label for="username" >Usuario:</label><br>
                            {{form.username}}
                        </div>
                        <div class="form-group">
                            <label for="password" >Contraseña:</label><br>
                            {{form.password}}
                        </div>
                        <div class="form-group">
                                {{form.errors}} 
                            <label for="remember-me" ><span>Recordar</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                            
                            <div class="negrita">
                            <input type="submit" name="submit" class="btn btn-dark btn-md" value="Ingresar">
                              </div>
                        </div>     
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block script %}
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script>
    $(document).ready(function(){
        $("#id_username").addClass("form-control");
        $("#id_password").addClass("form-control");
    });
    </script>
{% endblock script %}

    