{% extends 'ExamenTemplates/base.html' %}
{% load static %}

{% block title %} Programacion Web | Home {% endblock %}
{% block content %}
<div class="container">
    <h3 class="text-center my-5">Parra's</h3>
    <p class="text-justify">
        En la Ciudad Parra’s existe la National League Footboll Parra (NFLP),
         esta liga esta solicitando a las casas desarrolladoras un proyecto a
          medida para registrar y dar seguimiento a los fanaticos del equipo,
           por lo que el dueño del equipo PatsRay quiere obtener los siguientes 
           reportes:
    </p>
</div>
{% endblock %}