{% extends 'ExamenTemplates/base.html' %}
{% load static %}

{% block title %} Programacion Web | Fanaticos con palco {% endblock %}
{% block content %}
    <div class="container">
        <h3 class="text-center mt-5"> Fanaticos con palco</h3>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Asiento</th>
                <th scope="col">Equipo</th>
                <th scope="col">Palco</th>
              </tr>
            </thead>
            <tbody>
            {% for fan in fanatics %}
                <tr>
                    <td>
                        {{fan.id}}
                    </td>
                    <td>
                        {{fan.name}}
                    </td>
                    <td>
                        {{fan.seat.number}}
                    </td>
                    <td>
                        {{fan.team}}
                    </td>
                    <td>
                        {{fan.palco.palcoName}}
                    </td>
                </tr>
            {% endfor%}
            </tbody>
          </table>
        
    </div>
{% endblock %}