{% extends 'base.html' %}
{% load static %}

{% block title %}
    Programacion Web
{% endblock title %}


{% block content %}
<div class="container mt-5">
    <h3 class="text-center">Examen unidad 3</h3>
    <p class="text-justify">
        Realizar una aplicación WEB o de Escritorio para Parra’s Inc. La App
    debe solucionar el problema y eliminar la necesidad en la que se encuentra
    la empresa. La problemática de la empresa es la siguiente:
    </p>
</div>
{% endblock content %}
    
    