{% extends 'base.html' %}

{% block title %}
    Programacion Web | Lineas de Produccion
{% endblock title %}

{% block content %}
    <div class="container">
        <h3 class="text-center">Lineas de produccion</h3>
        <div id="tableData">

        </div>
        <!-- <table>
            <thead>
                <th>
                    Tipo
                </th>
                <th>
                    Producto
                </th>
                <th>
                    Jefes de linea
                </th>
                <th>
                    Calidad
                </th>
                <th>Estado</th>
            </thead>
            <tbody>
    
                    
            </tbody>
        </table> -->
    </div>
{% endblock content %}


{% block script %}
    <script>
    $(document).ready(function(){
    
        $.ajax({
            url: "/apilineaProduccion/",
            method: "GET",
            success: function(data){
                var table, header,body,footer;
                header = `
                <table class ="table table-striped">
                    <thead>
                        <th>Tipo</th>
                        <th>Producto</th>
                        <th>Jefes de linea</th>
                        <th>Calidad</th>
                        <th>Estado</th>
                    </thead>
                    <tbody>
                `;
                console.log(data);
                data.forEach(element => {
                    body +=`
                    <tr>
                        <td>${element.type}</td>
                        <td>${element.Producto}</td>
                        <td>${element.jefe}</td>
                        <td>${element.calidad}</td>
                        <td>${element.estado}</td>
                    </tr>
                    `; 
                });
                footer = `
                </tbody>
                </table>
                `;
                $("#tableData").append(header+body+footer);
            },
            error: function(data){
                console.log(data);
            }
        });
    });
    </script>
{% endblock script %}
    
    