{% extends 'base.html' %}


{% block title %}
    Programacion web | Consultas
{% endblock title %}
    

{% block content %}
    <div class="container">
        <h3 class="text-center mt-5">Consulta de proyecto</h3>
        <table class="mt-5 table table-striped">
            <thead>
                <th>Nombre</th>
                <th>Empresa</th>
                <th>Representante</th>
                <th>Fecha de registro</th>
                <th>Inicia</th>
                <th>Termina</th>
                <th>Descripcion</th>
                <th>Registro</th>
                <th>Estado</th>
            </thead>
            <tbody>
                    
                    {% for p in proyectos %}
                        <tr>
                            <td>{{p.NombreProyecto}}</td>
                            <td>{{p.Cliente}}</td>
                            <td>{{p.representante}}</td>
                            <td>{{p.FechaRegistro}}</td>
                            <td>{{p.inicia}}</td>
                            <td>{{p.finaliza}}</td>
                            <td>{{p.descripcion}}</td>
                            <td>{{p.userRegistro}}</td>
                            
                            {% if p.status %}
                               <td class="text-success">                                   
                                    <form method="POST" id="form" name="forma"> 
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-light text-success" value="{{p.id}}" name="try">
                                            <i class="fas fa-power-off"> </i>
                                        </button> 
                                        Activo 
                                    </form> 
                                </td>
                            {% else %}
                            <td class="text-danger">
                                <form method="POST">
                                    {% csrf_token %}
                                    <button type="submit" value="{{p.id}}" class="btn btn-light text-danger" name="try">
                                        <i class="fas fa-power-off"></i>
                                    </button> 
                                    Terminado
                                </form> 
                            </td>
                            {% endif %}
                                
                        </tr>
                    {% endfor %}
                        
            </tbody>
        </table>
    </div>
{% endblock content %}
    

{% block script %}
    <script>
    $(document).ready(function(){
        $('#activo').click(function(e){
            e.preventDefault();
            $('#form').submit();
            console.log('algo');
          

        });
    });
    </script>
{% endblock script %}
    