{% extends 'base.html' %}

{% load static %}

{% block styles %}
  

<link href="https://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css" rel="stylesheet"/>

{% endblock styles %}


{% block content %}
<div class="container">
  <h3 class="text-center my-5">Agenda de actividades</h3>
  <div id="wrapper">
    <div id="myScheduler"></div>
  </div>  
</div>


{% endblock content %}



{% block script %}
<script src="https://cdn.alloyui.com/3.0.1/aui/aui-min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>
 
  $(document).ready(function(){
    $.ajax({
      url:'/apiactividades/',
      method: 'GET',
      success: function(data){
         var pruebas = null;
          YUI().use(
            'aui-scheduler',
            function(Y) {
              var events = [
        
              ];
              data.forEach((element,index) => {
                  pruebas = { content: data[index].actividadName,
                  endDate: new Date(data[index].finaliza),
                  startDate: new Date(data[index].inicia)};

                  events.push(pruebas);
              });

              var agendaView = new Y.SchedulerAgendaView();
              var dayView = new Y.SchedulerDayView();
              var weekView = new Y.SchedulerWeekView();
              var monthView = new Y.SchedulerMonthView();

              var eventRecorder = new Y.SchedulerEventRecorder();

              new Y.Scheduler(
                {
                  activeView: weekView,
                  boundingBox: '#myScheduler',
                  date: new Date(2018, 11, 25),
                  eventRecorder: eventRecorder,
                  items: events,
                  render: true,
                  views: [dayView, weekView, monthView, agendaView]
                }
              );
            }
          );
                }
        });

      });

</script>

{% endblock script %}