{% extends 'base.html' %}
{% load static %}

{% block title %}
    Programacion Web
{% endblock title %}
    

{% block content %}
    <div class="container mt-5">
        <h3 class="text-center">Examen Unidad 3.2</h3>
        <p class="text-justify">
            La ciudad Ray Parra solicita la creación de una Aplicación WEB que permita a
            los ciudadanos expresar sus criticas constructivas a la ciudad en diferentes secciones
            y ámbitos del gobierno y de la ciudadanía en general, el gobierno quiere lograr un
            cambio radical en la estructura de la sociedad de la ciudad Ray Parra.
        </p>
        <h2 class="text-center">Realiza tu critica sobre el tema de tu interes.</h2>
       <hr>
        <div class="row">
            <h4 class="text-left">Buenos ejemplos.</h4>
            <p class="px-5 text-justify">
                Realiza una critica sobre los buenos ejemplos que se estan viendo en la ciudad
                o de igual manera la falta de ellos. Expresa libremente tu opinion al respecto 
                en el siguiente enlace. <br>
                <a href="/criticas" class="btn btn-outline-primary d-block">Critica!</a>
            </p>
        </div>
        <div class="row d-block bg-info section">
            <h4 class="text-right">Urbanismo y Vialidad.</h4>
            <p class="px-5 text-justify">Te gustan las calles y edificios de la ciudad? Dejanos saber lo quiere
                piensas. Es tu ciudad tienes el derecho de decir si te gusta o no y por que no 
            tambien puedes dar consejos sobre como mejorar la situacion actual. </p><br>
            <a href="/criticas" class="btn btn-outline-success d-block mx-5">Hazte escuchar</a>
        </div>
        <div class="row">
                <h4 class="text-left">Negocios.</h4>
                <p class="px-5 text-justify">
                    Deja saber a las grandes y pequenas empresas que necesitan mejorar 
                    o que es lo que estan haciendo bien hasta el momento, lo que te gusta y 
                    lo que no. Es tu desicion. <br>
                    <a href="/criticas" class="btn btn-outline-primary d-block">Critica!</a>
                </p>
            </div>
            <div class="row d-block bg-info section">
                    <h4 class="text-right">Sociales.</h4>
                    <p class="px-5 text-justify">La sociedad es una de las cosas de las que mas
                        razones nos brinda para quejarnos pero de igual manera nos brinda 
                    una gran cantidad de areas de oportunidad Por donde deberiamos empezar? </p><br>
                    <a href="/criticas" class="btn btn-outline-success d-block mx-5">Sin piedad!</a>
                </div>
                <div class="row">
                        <h4 class="text-left">Gobierno.</h4>
                        <p class="px-5 text-justify">
                          Bueno que se puede decir del gobierno, terminamos mas rapido si solo
                          decimos lo bueno, pero nos gusta saber todo. Di que es lo primero que se debe
                          corregir en el gobierno.<br>
                            <a href="/criticas" class="btn btn-outline-primary d-block">Ya sabes que hacer!</a>
                        </p>
                    </div>
                    <div class="row d-block bg-info section">
                            <h4 class="text-right">Servicios a la comunidad y objetos perdidos.</h4>
                            <p class="px-5 text-justify">Seria buena idea tener un departamento de objetos 
                                perdidos no crees? como se deberia de empezar? de verdad la comunidad devolveria 
                            cosas que se encontro por la calle aun cuando sean de valor. </p><br>
                            <a href="/criticas" class="btn btn-outline-success d-block mx-5">Yo digo que...</a>
                        </div>
    </div>

{% endblock content %}
    
