{% extends 'base.html' %}
{% load static %}

{% block title %}
    Programacion Web
{% endblock title %}
    

{% block content %}
    <div class="container mt-5">
        <h3 class="text-center">Examen Unidad 3.2</h3>
        <p class="text-justify">
            La ciudad Ray Parra solicita la creación de una Aplicación WEB que permita a
los ciudadanos expresar sus criticas constructivas a la ciudad en diferentes secciones
y ámbitos del gobierno y de la ciudadanía en general, el gobierno quiere lograr un
cambio radical en la estructura de la sociedad de la ciudad Ray Parra.
        </p>
    </div>
{% endblock content %}
    
